{% extends "layout.html" %}
<title>{% block title %}DD - Blog{% endblock %}</title>
{% block main %}
<ul>
  {% for article in page.articles %}
  <li><a href="{{ article.full_slug }}">{{ article.content.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}