{% extends "layout.html" %}

{% block title %}{{ super() }} | Blog {% endblock %}
{% block main %}
<ul>
  {% for article in page.articles %}
  <li><a href="{{ article.full_slug }}">{{ article.content.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}