{% extends "layout.html" %}

{% block title %}Blog{% endblock %}

{% block meta %}
<meta name="description" content="{{ self.title() }}" />
<link rel="canonical" href="{{ AP_BASE_URL ~ 'blog' }}" />
{% endblock %}

{% block main %}
<ul>
  {% for article in page.data %}
  <li>
    <a href="/{{ article.full_slug }}">{{ article.content.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}