{% extends "layout.html" %}
{% block main %}
Hello, My name is Daniele.
<div class="flex flex-col mt-16">
  <div class="grid grid-flow-col gap-2 justify-center">
    <button class="size-8" onclick="incrementCounter()">+</button>
    <button class="size-8" onclick="decreaseCounter()">-</button>
  </div>
  This is a counter. Try to click the buttons.
  <pre class="p-16 my-8 shadow-lg text-center text-5xl rounded" id="counter">{{ page.counter }}</pre>
</div>
<script>
  const incrementCounter = async () => {
    const response = await fetch('/increase-counter', { method: 'POST' });
    document.getElementById('counter').textContent = await response.text();
  }
  const decreaseCounter = async () => {
    const response = await fetch('/decrease-counter', { method: 'POST' });
    document.getElementById('counter').textContent = await response.text();
  }
</script>
{% endblock %}