{% extends "layout.html" %}
<title>{% block title %}DD - {{ page.data.content.title }}{% endblock %}</title>
{% block main %}
<h1>{{ page.data.content.title }}</h1>
<h2>{{ page.data.content.intro }}</h2>
<div class="markdown">{{ page.data.content.long_text|safe }}</div>
{% endblock %}