{% extends "layout.html" %}

{% set content = page.data.content %}

{% block title %}{{ super() }} | {{ content.title }} {% endblock %}
{% block main %}
<h1>{{ content.title }}</h1>
<img src="{{ content.file.filename }}" alt="{{ content.title|lower }}">
<h2>{{ content.intro }}</h2>
<article>{{ content.long_text|safe }}</article>
{% endblock %}