<!DOCTYPE html>
<html lang="en">
{% set name = "AP" %}

<head>
  <title>{% block title %}Home{% endblock %}</title>
  {% block meta %}
  <meta name="description" content="{{ name }}" />
  <link rel="canonical" href="{{ AP_BASE_URL }}" />
  {% endblock %}
  <link href="/index.css" rel="stylesheet" />
  <link href="/favicon.ico" rel="icon" type="image/x-icon" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="{{ google_verification }}" />
</head>

<body>
  <header>
    <nav aria-label="Main Navigation">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
    </nav>
  </header>

  <main>
    {% block main %}{% endblock %}
  </main>

  <footer>
    <span>&copy; {{ current_year }}, Aprograma</span>
    <nav aria-label="Footer Navigation">
      <a href="https://linkedin.com/in/danielefalchetti/" target="_blank" rel="noopener noreferrer"
        title="LinkedIn Profile">LinkedIn</a>
      <a href="https://github.com/falcosan" target="_blank" rel="noopener noreferrer" title="GitHub Profile">GitHub</a>
      <a href="{{ AP_BASE_URL }}rss.xml" target="_blank" rel="noopener noreferrer" title="RSS">RSS</a>
    </nav>
  </footer>

</body>

</html>